<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="header :: header"></head>
    <body>
        <div class="container">
            <div class="alert alert-danger" role="alert" align="center">
                <table>
                    <tr>
                        <td class="cor">No team avalaible!</td>
                    </tr>
                    <tr>
                        <td class="cor">First register team!</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>