<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>
<body>
<div th:switch="${teams}" class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div th:case="*">
                <h2 class="my-5" style="font-family:verdana; color:blue;">Teams</h2>
                <div>
                    <form class="form-inline" th:action="@{/team/searchTeam}" method="get">
                        <div class="form-group mb-2">
                            <select class="form-control mr-2" style="font-family:verdana; color:black;font-size:18px" th:name="searchType">
                                <option>Name</option>
                                <option>ID</option>
                            </select>
                            <input th:name="searchTerm" type="text" class="form-control" id="search" placeholder="Search by..." style="font-family:verdana; font-size:18px;">
                            <button type="submit" class="btn btn-primary ml-2" style="font-family:verdana;font-size:18px">Search</button>
                        </div>
                    </form>
                </div>
                <table class="table table-striped table-responsive-md" style="font-family:verdana; color:black;font-size:18px">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Members</th>
                        <th>Create</th>
                        <th>UpDate</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${teams.empty}">
                        <td colspan="4" align="center">No team found! </td>
                    </tr>
                    <tr th:each="team : ${teams}">
                        <td th:text="${team.id}"></td>
                        <td th:text="${team.name}"></td>
                        <td>
                            <select class="form-control" id="teamSelect" style="font-family:verdana; color:black;" >
                                <option th:each="m : ${team.members}" th:text="${m.name}">
                                </option>
                            </select>
                        </td>
                        <td th:text="${#temporals.format(team.createdAt,'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(team.updateAt,'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td><a th:href="@{/team/editTeam/{id}(id=${team.id})}" class="btn btn-primary"><i
                                class="fas fa-user-edit"></i></a></td>
                        <td><a th:href="@{/team/deleteTeam/{id}(id=${team.id})}" class="btn btn-primary"><i
                                class="fas fa-user-times"></i></a></td>
                    </tr>
                    </tbody>
                </table>
                <p class="my-5"><a th:href="@{/team/registerTeam}" class="btn btn-primary"><i class="fas fa-user-plus"></i></a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>